# Setup

In [2]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [3]:
sql_engine = create_engine('mysql+pymysql://root:admin@127.0.0.1', pool_recycle=3600)
db_connection = sql_engine.connect()
pd.set_option('display.expand_frame_repr', False)

# Fetch data

In [4]:
oltp_customers = pd.read_sql('select * from OLTP.OLTP_CUSTOMERS', db_connection)
oltp_geolocation = pd.read_sql('select * from OLTP.OLTP_GEOLOCATION', db_connection)

In [5]:
oltp_customers

                            CUSTOMER_ID                CUSTOMER_UNIQUE_ID CUSTOMER_ZIP_CODE_PREFIX          CUSTOMER_CITY CUSTOMER_STATE
0      06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0                    14409                 franca             SP
1      18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3                    09790  sao bernardo do campo             SP
2      4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e                    01151              sao paulo             SP
3      b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c                    08775        mogi das cruzes             SP
4      4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066                    13056               campinas             SP
...                                 ...                               ...                      ...                    ...            ...
99436  17ddf5dd5d51696bb3d7c6291687be6f  1a29b476fee25c95fbafc67c5ac95cf8                    03937              sao paulo             SP
99437  e7b71a9017aa05c9a7fd292d714858e8  d52a67c98be1cf6a5c84435bd38d095d                    06764        taboao da serra             SP
99438  5e28dfe12db7fb50a4b2f691faecea5e  e9f50caf99f032f0bf3c55141f019d99                    60115              fortaleza             CE
99439  56b18e2166679b8a959d72dd06da27f9  73c2643a0a458b49f58cea58833b192e                    92120                 canoas             RS
99440  274fa6071e5e17fe303b9748641082c8  84732c5050c01db9b23e19ba39899398                    06703                  cotia             SP

[99441 rows x 5 columns]

In [6]:
oltp_geolocation

        GEOLOCATION_ZIP_CODE_PREFIX  GEOLOCATION_LAT  GEOLOCATION_LNG GEOLOCATION_CITY GEOLOCATION_STATE
0                             01037       -23.545621       -46.639292        sao paulo                SP
1                             01046       -23.546081       -46.644820        sao paulo                SP
2                             01046       -23.546129       -46.642951        sao paulo                SP
3                             01041       -23.544392       -46.639499        sao paulo                SP
4                             01035       -23.541578       -46.641607        sao paulo                SP
...                             ...              ...              ...              ...               ...
1000158                       99950       -28.068639       -52.010705         tapejara                RS
1000159                       99900       -27.877125       -52.224882   getulio vargas                RS
1000160                       99950       -28.071855       -52.014716         tapejara                RS
1000161                       99980       -28.388932       -51.846871  david canabarro                RS
1000162                       99950       -28.070104       -52.018658         tapejara                RS

[1000163 rows x 5 columns]

# ETL

## TO DWHS_D_CUSTOMERS

In [9]:
staging_cutomers = pd.merge(oltp_customers, oltp_geolocation, left_on='CUSTOMER_ZIP_CODE_PREFIX', right_on='GEOLOCATION_ZIP_CODE_PREFIX', how='left')

In [17]:
staging_cutomers_temp = staging_cutomers[['CUSTOMER_UNIQUE_ID', 'CUSTOMER_ZIP_CODE_PREFIX', 'CUSTOMER_CITY', 'CUSTOMER_STATE', 'GEOLOCATION_LAT', 'GEOLOCATION_LNG']]

In [18]:
staging_cutomers_temp.isnull(())

                        CUSTOMER_UNIQUE_ID CUSTOMER_ZIP_CODE_PREFIX CUSTOMER_CITY CUSTOMER_STATE  GEOLOCATION_LAT  GEOLOCATION_LNG
0         861eff4711a542e4b93843c6dd7febb0                    14409        franca             SP       -20.509897       -47.397866
1         861eff4711a542e4b93843c6dd7febb0                    14409        franca             SP       -20.497396       -47.399241
2         861eff4711a542e4b93843c6dd7febb0                    14409        franca             SP       -20.510459       -47.399553
3         861eff4711a542e4b93843c6dd7febb0                    14409        franca             SP       -20.480940       -47.394161
4         861eff4711a542e4b93843c6dd7febb0                    14409        franca             SP       -20.515413       -47.398194
...                                    ...                      ...           ...            ...              ...              ...
15083728  84732c5050c01db9b23e19ba39899398                    06703         cotia             SP       -23.599369       -46.905603
15083729  84732c5050c01db9b23e19ba39899398                    06703         cotia             SP       -23.593577       -46.910112
15083730  84732c5050c01db9b23e19ba39899398                    06703         cotia             SP       -23.584425       -46.892014
15083731  84732c5050c01db9b23e19ba39899398                    06703         cotia             SP       -23.595022       -46.918546
15083732  84732c5050c01db9b23e19ba39899398                    06703         cotia             SP       -23.594067       -46.909609

[15083733 rows x 6 columns]